$font-size: 14px;
$font-family: sans-serif;

$light-gray: #f3f3f3;
$dark-gray: #e5e5e5;
$darker-gray: #b9b9b9;

$border-color: $dark-gray;
$border-radius: 4px;

$black: #2c3339;

$breakpoint-small: 782px; // 540px
$breakpoint-med: 60em; // 720px
$breakpoint-large: 68em; // 960px

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: $breakpoint-large) { @content ; }
  }
  @else if $point == mobile {
    @media (max-width: $breakpoint-small)  { @content ; }

  }
}

.mobile-collapsed {
  display: inherit;
}
.mobile-only {
  display: none !important;
}

@include breakpoint(mobile) {
  .mobile-only {
    display: inherit !important;
  }
  .mobile-collapsed {
    display: none !important;
  }
}