@import '~vue-form-wizard/src/assets/wizard.scss';

$sticky-top-limit: 230px;

.edd-booking-wizard {
  //font-family: $font-family;
  //color: $black;
  //line-height: 1.4;
  //background-color: white;
  font-size: $font-size;

  @import 'wizard-header';
  @import 'wizard-navigation';
  @import 'wizard-footer';

  @import 'buttons';
  @import 'form';

  .wizard-title {
    color: unset;
  }

  &__info {
    padding: 1rem;
    border: 1px solid $dark-gray;
    text-align: center;
    margin: 0 0 2rem 0;

    p:last-child {
      margin-bottom: 0;
    }

    hr {
      background-color: $dark-gray;
    }

    &--inline {
      border-color: $darker-gray;
      margin-bottom: 1rem;
    }
  }

  .wizard-navigation {
    @include breakpoint(mobile) {
      margin-bottom: -$sticky-top-limit;
    }
  }

  .wizard-footer-back {
    margin-right: 8px;
    background-color: white !important;
    color: $black !important;
    border-color: $dark-gray !important;
  }

  .wizard-card-footer {
    @include breakpoint(mobile) {
      position: sticky;
      bottom: 0;
      margin-top: $sticky-top-limit;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .wizard-tab-content {
    @include breakpoint(mobile) {
      padding-top: 10px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .service {
    display: flex;

    &__image {
      text-align: center;
      width: 35%;
      padding: .5rem;
      flex-shrink: 0;
      img {
        border-radius: $border-radius;
      }
    }

    &__description {
      padding-bottom: .5rem;
    }
  }

  input, textarea {
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $darker-gray;
      opacity: 1; /* Firefox */
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $darker-gray;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: $darker-gray;
    }
  }

  button {
    &:hover {
      opacity: .9;
    }
  }
}

