/vendor/
/nbproject/private/
/test/coverage/
/test/log/
/build/
/modules/
/dev-modules/
/.idea/dictionaries/
/.idea/codeStyles/
/.idea/dataSources/
/.idea/inspectionProfiles/
/.idea/codeStyleSettings.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/deployment.xml
/.idea/vagrant.xml
/.idea/misc.xml
/.vagrant/
/debug_log
/githubKey
